include README.md
recursive-include octoprint_FilamentChange/templates *
recursive-include octoprint_FilamentChange/translations *
recursive-include octoprint_FilamentChange/static *
recursive-include octoprint_FilamentChange/extras *
recursive-include screenshots *
